@import "_variables.scss";

.header{
  padding: $gutter*3;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 $gutter*3 0;

  .logo{
    width: 100px;
    svg{
      width:100%;
      fill: white;

    }
  }
}
