// body{
//   tansition: transform 500ms ease-in-out;
//
//   &.open-menu {
//     transform: translateX(250px);
//   }
// }

.sidebar-nav{
  width: 287*2.5px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #18191D;
  box-shadow:  15px 0 30px #18191D;
  padding:$sidespace 0 $sidespace $sidespace;

  .nav-logo{
    width: 100px;
    margin: 0 0 $gutter*10 0;
    svg{
      fill:white;
    }
  }

  .navigation{
    list-style: none;
    margin: 0;
    padding: 0;

    .nav-items{
      justify-content: space-around;
      align-items: center;
      color:white;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 $gutter*6 0;
    }
  }

  .nav-blueline{
    margin-top: $gutter*20;
  }

  .nav-contact{
    list-style: none;
    margin: $gutter*10 0 0 0;
    padding: 0;

    .nav-contact-items{
      color:white;
      font-size: 36px;
      font-weight: bold;
      margin: 0 0 $gutter*6 0;
      span{
        color: #E2E2E2;
        font-weight: lighter;
      }
    }
  }
}
